# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-log.txt
pip-delete-this.txt
*.egg-info/
.installed.cfg
*.pth

# Installer logs
*.install.log
install.log

# Unit test / coverage reports
.tox/
.coverage
.coverage.*
nosetests.xml
coverage.xml
*.egg-info
pytest_cache/

# Jupyter Notebook related files
.ipynb_checkpoints/

# Python virtual environment related files
venv/
env/
.venv/
envs/
virtualenv/
pypoetry-local.sqlite

# OS or Editor specific files (add more if needed)
.DS_Store
.vscode/
*.swp
*.swo
.idea/

# Data and Results (you might want to track some results, so be careful here)
data/*
results/*
!data/.gitkeep
!results/.gitkeep

# Log files
*.log

# Temporary files
*.tmp
*.bak
*.orig